{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class= "post">

        <div class="contenido">
            <h1 class="text-light">Latest Sculpts:</h1>
            
            <div class="row">
            {% for p in artworks %}
                <div class="cols col-xl-3 col-lg-4 col-sm-12">
                    <div class="card custom-card-background">
                        {% if p.img %}
                        <img src="{{ p.img.url }}" class="img-thumbnail" alt="{{ p.img }}" class="fancybox">
                        {{ p.sculpt }}
                        {% endif %}
                        <div class="card-body">
                        <h5 class="card-title">{{ p.titulo | capfirst }}</h5>
                        <p class="card-text">{{ p.categoria }}</p>
                        <p class="card-text">{{ p.texto }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="{{ p.img.url }}">
                            Ampliar
                        </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}