@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: rgb(40 36 64);
    color: #fff;
}

.custom-card-background{
    background-color: #441b37a6;
    color: #fff;
    border: #441b37a6;
}

.video{
    display: flex;
    color:rgb(168, 196, 238)
}

.contenido{
    margin: 2em;
}

.logoiro img{
    height: 70px;
}

.alogo img{
    transition: all 0.2s;
}

.alogo img:hover{
    transform: scale(1.15);
}

.navbar{
    flex-direction:row-reverse;
    list-style: none;
    text-decoration: none;
}

header .navbar a{
    color: rgb(168, 196, 238);
    text-decoration: none;
    text-align: center;
}

header .navbar li{
    display: inline-block;
}

header .navbar li a:hover{
    color: rgb(79, 123, 189);
}

header .navbar li:hover{
transform: scale(1.1);
}

.logoiro{
    width:18em;
}

.img-thumbnail{
    background-color: #7d4894;
    height: 20em;
    object-fit: cover;
    padding: 1px;
    transition: all 0.5s;
}

.img-thumbnail:hover{
    height: auto;
    transform: scale(1.01);
}

.cols{
    margin-top: 1em;
}

.embed-responsive-item{
    padding: 1px;color: #ffffff;
    height: 20em;
    object-fit: cover;
    padding: 1px;
    transition: all 0.5s;
}
.embed-responsive-item:hover{
    height: auto;
    transform: scale(1.01);
}



footer{
    background-color: #724572;
    padding: 0.5rem;
}

.container-fluid a{
    text-decoration: none;
}

a.nav-link{
    width: 6em;
}

.navbar-toggler{
    background-color: #441b37;
    border: var(--bs-border-width) solid rgb(137 91 122);
    color: rgb(114 69 114);
}

.navbar-collapse {
    flex-grow: 0;
}

.contact{
    margin: 2em;
    padding: 2em;
}

.contact img{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.imgfooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgfooter img{
    width: 20px;
    margin-right: 5px;
}

.imgfooter a {
    text-decoration: none;
    color: #ffff;
}

/*
.navbar-toggler-icon {
    background-image: url('{% static '\galeria_app\images\toggler_icon_menu.png' %}');
}
*/
